---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Inicio" description="Tienda online de guitarras de todo estilo">
	<h1>Hola</h1>
</Layout>
<style>

</style>
